section{
    
   min-height: 300px;
   background: deepskyblue;
}


.FormInscription{
    margin-top: 30px;
    background: coral;
}
.remplissage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: fit-content;
    height: fit-content;

}